html ,body {
	height: 100%
}
body {
	overflow-x: hidden;
}
a , a:hover , a:focus {
	color: inherit;
	text-decoration: none
}
.font{
	font-family: 'Playfair Display', serif;
}
.no-padding{
	padding: 0
}
button:focus{
	outline: none
}
.vertical-center{
	height: 100%;
	overflow: hidden;
}
.vertical-center:before{
	content: '';
	width: 1px;
	display: inline-block;
	vertical-align: middle;
	margin-left: -10px
}
.vertical-center ..vertical-center-content{
	vertical-align: middle;
	display: inline-block;
}
 .paragraph{
	color: #999999;
	font-size: 14px;
	line-height: 1.8
}
.black {
	color: #000
}
.bold{
	font-weight: 600;
}
.italic{
	font-style: italic;
}
.btn{
	border:1px solid #000;
	padding: 15px 23px;
	font-size: 17px ;
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
}
.btn:hover{
	background-color: #000;
	color: #fff
}
.text-center{
	text-align: center;
}
.bg-pattern {
	background-image: url(../images/patrn-img.jpg);
	background-repeat: repeat;
	
	min-height: 800px
}
.ratio-holder {
	position: relative;
	overflow: hidden;
}
.ratio-holder .ratio {
	padding-top: 100%
}
.ratio-holder .ratio.vedio-ratio {
	padding-top: 120%
}
.ratio-holder .ratio.menu-ratio {
	padding-top: 70%
}
.ratio-holder .ratio.news-ratio {
	padding-top: 70%
}
.ratio-holder .ratio-content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.ratio-holder .ratio-content img {
	width: 100%;
	min-height: 100%
}


header {
	padding: 20px;
	position: fixed;
	top:0;
	right: 0;
	left: 0;
	z-index: 1000;
	color: #fff
}
 .sticky {
	background-color: #fff;
	border-bottom: 1px solid #000
}

header nav {
	float: right;
}

header nav .list-item {
	display: inline-block;
	color: #fff;
	margin-left: 40px
}
header.sticky nav .list-item a ,
header.sticky nav .list-item a:hover ,
header.sticky nav .list-item a:focus
{
	color: #000; 
}
header nav .list-item:first-child{
	margin-left: 0
}
header nav .list-item a , header nav .list-item a:hover , header nav .list-item a:focus {
	color: #fff;
	text-decoration: none 
}

header nav .list-item:last-child{
	margin-left: 80px
}

header nav .list-item:last-child .icon {
	margin-left: 5px;
	vertical-align: middle;
}
@media(min-width: 768px){
	header nav .nav-but {
		display: none;
	}
}

/* mobile nevagtion styel */

@media(max-width: 767px)
	{header nav:not(.active) .nav-list .list-item {
		/*display: none;*/
		right: -200px} 

header nav .nav-list {
	position: absolute;
	right: 0;
	top: 100%;
	margin:0;
	width: 200px; 
	text-align: center;
	padding: 0
}
header nav .nav-list .list-item{
	display: block;
	margin-left: 0;
	background-color: #333;
	margin-bottom: 10px;
	position: relative;
	right: 0;
	transition: right 0.4s
}
header nav .nav-list .list-item a ,
header nav .nav-list .list-item a:hover {
	padding: 15px ;
	border-bottom: 1px solid #000;
	display: block;
	color: #fff
}
header nav .nav-list .list-item:hover ,
header nav .nav-list .list-item .active {
 	background-color: #000;
 	color: #fff
 }

header nav .nav-but {
	background: none;
	border:none;
	width: 40px ;
	background-color: #333;
	padding: 8px 7px;
	border-radius: 3px
}

header nav .nav-but .but-line {
	display: block;
	height: 2px;
	margin-bottom: 6px;
	background-color: #fff
}

header nav .nav-but .but-line:last-child {
	margin-bottom: 0
}
}
.vedio .vedio-bg {
	width: 100%;
	min-height: 100% 
}
.vedio .vedio-controle {
	position: absolute;
	bottom: 20px;
	left: 5px
}
.vedio .vedio-controle .control {
	background:none;
	border: none;
	color: #fff; 
}
.vedio .vedio-controle .control .ikon {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px
}
.card{
	background-color: #fff;
}
.card:not(.no-padding){
	
	padding: 15px
}
.card .card-image {
	position: relative;
}
.card .card-image.have-price {
	margin-bottom: 60px
}
.card .card-image .price-holder {
	position: absolute;
	bottom: -40px;
	right: 0;
	left: 0;
	text-align: center;
}
.card .card-image .price-holder .price{
	display: inline-block;
	background-color: #fff;
	font-size: 35px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	line-height: 80px;
	box-shadow: 0px 0px 0px 5px rgba(250,250,250,0.5);
	font-weight: bold;
}
.card .card-content.has-arrow {
	position: relative;
}
 .card .card-content.has-arrow:before{
	content: '';
	top: 50%;
	margin-top: -10px;
	position: absolute;
	border-top:10px solid transparent;
	border-bottom:10px solid transparent;
	z-index: 1
}
.card .card-content.has-arrow.arrow-left:before{
	border-right: 15px solid #fff;
	right: 100%
}
.card .card-content.has-arrow.arrow-right:before{
	border-left: 15px solid #fff;
	left: 100%;
}
.card .card-content.has-arrow.arrow-top:before{
	border-top: none;
	border-bottom: 15px solid #fff;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	left: 50%;
	margin-left: -10px;
	bottom: 100%;
	top: auto;
}
.slider-container {
	position: relative;
	padding: 0 45px;
}
.slider-container .slider {
	overflow: hidden;
}
.slider-container .slider .slider-panner {	
	position: relative;
}
.slider-container .slider-arrows .arrow {
	height: 46px;
	background:none;
	border:none;
	position: absolute;
	top: 50%;
	margin-top: -23px;
	font-size: 46px;
	line-height: 1;
	z-index: 2
}
.slider-container .slider-arrows .arrow.prev{
	left: 0;
}
.slider-container .slider-arrows .arrow.next{
	right: 0;
}
/* section */ 

.section {
	height: auto;
	padding-top: 92px;
}
.section-header .section-title{
	font-size: 45px;
	line-height: 0.9;
	margin-top: 0
}
.section-header .section-title .small{
	font-size: 12px;
	font-weight: 400px;
	display: block;
	letter-spacing: 9px;
	opacity: 0.75;
	margin-bottom: 20px
}
.section-body .author {
	margin-top: 45px
}
@media(max-width: 991px){
.section-header .section-title{
	font-size: 30px
}
}
@media(max-width: 767px){
.section-header {
	text-align: center;
}
.section .section-body {
	text-align: center;
}
}
@media(max-width: 767px){
	.section {
	min-height: none
	}
	.main-section{
		height: 500px;
		min-height: none
	}
}
/* main-section */

.main-section {
	background-image: url(../images/slider.png);
	background-size: cover;
	padding-top: 200px;
	position: relative;
	height: 100%
}
.main-section .section-title {
	font-size: 55px;
	color: #fff;
	text-align: right;
}
.main-section .section-title .small{
	font-size: 12px;
	font-weight: 400px;
	display: block;
	letter-spacing: 9px;
	opacity: 0.75;
	margin-bottom: 20px
}
.main-section .section-info{
	position: absolute;
	bottom: 0;
	right: 0;
	left:0;
}
.main-section .section-info .container{
	position: relative;
}

.main-section .section-info .info-img{
	margin-bottom: -70px;
	box-shadow: 2px 12px 40px 0 rgba(0,0,0,0.25);
	border-radius: 50%;
}

.main-section .section-info .information {
	color: #fff ;
	text-align: right;
	font-size: 12px;
	opacity: 0.75;
	position: absolute;
	right: 0;
	bottom: 40px
}
.main-section .section-info .information .phone-number {
	font-size: 26px;
	margin: 0 0 25px
}
.main-section .section-info .information .small {
	margin: 0
}
@media(max-width: 767px){
	.main-section .section-title {
		font-size: 45px;
		text-align: center;
		margin-top: -100px
	}
}
@media(min-width: 768px){	
.story-section {
	padding-top:180px
 }
}
.story-section .reservation-btn{
	margin-top: 80px;
}
@media(max-width: 991px){
.story-section .reservation-btn{
	padding: 12px 20px;
	font-size: 15px
}
}
.story-section .vedio{
	width: 80%;
}
@media(min-width: 768px){
.story-section .vedio{
	float: right;
}}
@media(max-width: 767px ){
.story-section .vedio{
	margin: 35px auto ;
	}
}


.testmonials-section{
	height: 400px ;
	min-height: 400px;
	background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('../images/testmonials.jpg');
	text-align: center;
	background-attachment: fixed;
	background-position: center center;
	color: #fff;
	padding: 90px 15px
}
.testmonials-section .testmonials-icon{
	font-size: 35px;
	margin-bottom: 50px
}
.testmonials-section .testmonials-content .paragraph{
	font-size: 25px;
	color: #fff;
	font-weight: bold;
}

.testmonials-section .author{
	font-size: 14px;
	font-weight: 400
}

.testmonials-section .author:before{
	content: '';
	width: 6px;
	height: 1px;
	display: inline-block;
	background-color: #fff;
	vertical-align: middle;
	margin-right: 3px
}
.testmonials-section .author:after{
	content: '';
	width: 6px;
	height: 1px;
	display: inline-block;
	background-color: #fff;
	vertical-align: middle;
	margin-left: 3px
}

.chef-testmonials{
	text-align: right;
	height: 475px
}
 .chef-testmonials .chef-add{
 	margin-top: 30px
 }
@media(max-width: 747px){
	.chef-testmonials .chef-img{
		text-align: center;
		margin-bottom: 20px
	}
}

.bacg-img {
	background-image: url(../images/patrn-img.jpg);
	background-repeat: repeat;
	margin-top: -14px
}
.event-card .card-title{
	font-size: 18px;
	max-width: 200px;
	margin: 0 77px 5px;
	padding-bottom:20px ;
	position: relative;
}
.event-card .paragraph{
	margin: 0 0 1px;
	font-size: 12px
}
.event-card .card-title:after{
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -25px;
	width: 50px;
	border-bottom: 1px dashed #ccc;
	display: block;

}
.news-section .section-body{
	max-width: 900px;
	min-height: 500px;
	padding-bottom: 50px
}
.news-section .section-body .card-image,
.news-section .section-body .card-content{

}
@media(max-width: 768px)
{.event-card {
	max-width: 350px;
	margin: 0 auto 25px;
	}
}
@media(max-width: 768px)
{.card-image {
	max-width: 750px;
	margin: 0 auto 25px;
	}
}

.contact-section{
	min-height: auto ;
}
.contact-section .section-body{
	background-color: #fff;
	padding: 50px 45px;
	margin-bottom: -50px;
	position: relative;
	z-index: 1;
	bottom: -30px
}
.contact-section .line-bottom{ 
	position: relative;
}
.contact-section .line-bottom:before{
	content: '';
	display: block;
	border-bottom: 2px solid #000;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 70px
} 
.contact-section .country-city{
	margin-top: 0 0 10px;
	font-size: 30px;
}

.contact-section .country-city .country{
	color: #ccc
}
.contact-section .address{
	margin: 0 0 30px
}
.contact-section .call-us .phone-number{
	margin-top: 0 0 30px;
	font-size: 35px ; 
	font-weight: 400
}
.contact-section .service{
	margin-bottom: 40px
}
.contact-section .service:last-child{
	margin-bottom: 0
}
.contact-section .service .service-title{
	margin-bottom: 8px
}
.contact-section .service .paragraph{
	font-size: 13px;
	margin: 0 0 8px;
	line-height: 1
}
.contact-section .service .paragraph:last-child{
	margin-bottom: 0
}
@media(max-width: 991px) and (min-width: 768px){
.contact-section .call-us .phone-number{
	font-size: 25px
	}
}
@media(max-width: 767px){
.contact-section .section-body{
	text-align: left;
	}
.contact-section .line-bottom:before{
	content: none;
	display: none;
	}
}
.map iframe{
	width: 100%;
	height: 500px
}

.footer{
	background-color: #131a21;
	text-align: center;
	padding: 50px 20px 30px;
}

.footer .logo {
	width: 35px;
	overflow: hidden;
	position: relative;
	display: inline-block;
	margin-bottom: 30px
}
.footer .logo:before {
	content: '';
	display: block;
	padding-top: 131.4%
}

.footer .logo img{
	width: 100%;
	height: 200%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}
.footer ul, .footer li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer li {
	display: inline-block;
	vertical-align: middle;
	color: #fff
}
.footer li a{
	color: inherit;
	text-decoration: none;
	font-size: 14px
}
.footer li:hover {
	color: #666666
}

.footer .footer-links {
	margin-bottom: 120px
}
.footer .footer-links li {
	padding: 0 15px;
	border-right: 1px solid #666666
}
.footer .footer-links li:first-child {
	padding-left: 0
}
.footer .footer-links li:last-child {
	padding-right: 0 ;
	border-right: none;
}
.footer .social-media  {
	margin-bottom: 30px
}
.footer .social-media li {
	margin-right: 15px
}
.footer .social-media li:last-child{
	margin-right: 0
}
.footer .copy-right{
	color: #666666;
	font-size: 12px
}
@media(max-width: 500px){
	.footer .footer-links li {
		display: block;
		border-right: none;
		padding: 0;
		margin-bottom: 15px
	}
}
















